<div class="alert">
	<div class="alert-header">
		<h2 class="alert-header__title">{{data.message}}</h2>
		<h3 class="alert-header__subtitle">{{data.info}}</h3>
	</div>

	<div class="alert-links">
		<a class="alert-links__button" href="{{data.linkBack}}">{{data.linkText}}</a>
	</div>
</div>