<div class="alert">
	<strong class="alert__info">{{info}}</strong>
	<a class="alert__button" href="/product-create">Повернутись назад</a>
	<a class="alert__button" href="/product-list">Повернутись до списку товарів</a>
</div>