@use '../../lib/service.scss' as s;

.alert {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	border: 1px solid s.color('light');
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

	padding: s.space(4);
	margin: s.space(6);
	gap: s.space(6);
}

.alert__info {
	font-size: 18px;
	font-weight: bold;
}

.alert__button {
	justify-self: end;
	text-decoration: none;
	color: white;
	background-color: s.color('primary');
	padding-inline: s.space(4);
	padding-block: s.space(2);
  	border-radius: 20px;
  	width: fit-content;
}