<div class="alert">
	<div class="alert__header">
		<h2 class="alert__title">{{data.message}}</h2>
		<h3 class="alert__subtitle">{{data.info}}</h3>
	</div>
	<a class="alert__button" href="{{data.link}}">Повернутись назад</a>
</div>