@use '../../lib/service.scss' as s;

@use '../../component/divider/style.scss' as divider;
@use '../../component/field/style.scss' as field;
@use '../../component/button/style.scss' as button;

.main {
	display: flex;
	flex-direction: column;
	gap: s.space(10);
	padding: s.space(10);
}

.heading {
	font-size: 32px;
	font-weight: bold;
	color: s.color('primary');
	margin-block: s.space(4);
}

.form-card {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: s.space(5);
	padding: s.space(5);
	border: 1px solid s.color('light');
	border-radius: 10px;

	&__total {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: s.space(4);
	}

	&__title {
		font-size: 16px;
		color: gray;
	}
}

.user-info {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	gap: s.space(2);
}

.identifier {
	color: s.color('gray')
}






