@use '../../lib/service.scss' as s;

@use '../../component/purchase-heading/style.scss' as purchase-heading;
@use '../../component/divider/style.scss' as divider;

.main {
	display: flex;
	flex-direction: column;
	gap: s.space(10);
	padding: s.space(10);
}

.purchase-list {
	display: grid;
	gap: s.space(6);

	&__order {
		display: flex;
    	align-items: center;
    	justify-content: space-between;

		padding: s.space(4);
		gap: s.space(4);

		color: black;
		text-decoration: none;
		cursor: pointer;
    	transition: opacity 0.7s ease;

    	&:hover {
    		opacity: 0.7;
    	}

    	&:visited {
    		color: transparent;
    	}
	}
}

.order-group {
	display: grid;
	gap: s.space(3);
  
	&__title {
	  color: gray;
	}
  }
