<main class="main">
	{{#with data}}
	<form method="POST" action="/purchase-submit?id={{id}}" class="form-card">

		{{> heading title="Зміна данних"}}

		<div class="user-info">
			<span class="identifier">ID:</span>
			<span>{{id}}</span>
		</div>


		{{> field label="Ім'я" name="firstname"}}
		{{> field label="Прізвище" name="lastname"}}
		{{> field label="Телефон" name="phone"}}
		{{> field label="Пошта" name="email"}}

		{{> button text="Зберегти зміни"}}

	</form>
	{{/with}}
</main>