<main>
	<section>
		<h1 class="heading">Створення товару</h1>
		<div class="form">
			<strong class="form__title">Інформація про товар</strong>

			<form method="POST" action="/product-create">
				<div class="form__content">
					<div class="form__double">
						<div class="form__field">
							<label for="name" class="form__label">Назва товару</label>
							<input type="name" name="name" class="form__input">
						</div>

						<div class="form__field">
							<label for="price" class="form__label">Ціна</label>
							<input type="price" name="price" class="form__input">
						</div>
					</div>

					<div class="form__field">
						<label for="description" class="form__label">Короткий опис товару</label>
						<input type="description" name="description" class="form__input">
						<p class="form__sign">Відображається у картці товару</p>
					</div>

					<div>
						<button class="form__button">Створити товар</button>
					</div>
				</div>
			</form>
		</div>
	</section>
</main>