@use '../../lib/service.scss' as s;

@use '../../lib/spotify.scss' as spotify;

.search {
	display: grid;
	grid-template-columns: 56px 1fr auto;
	gap: s.space(8);
	padding: s.space(2) s.space(8);
	color: s.color('mainWhite');
	background-color: #292929;
	border-radius: 8px;
	font-size: 24px;

	&__button {
		color: s.color('mainWhite');
		transition: opacity 0.6s;

		&:hover {
			opacity: 0.6;
		}
	}
}